/msvs/.vs
/tmp
/msvs/*.user
/msvs/tests/*.user
/msvs/Debug
/msvs/GeneratedFiles
/msvs/Win32
/msvs/*.opendb
/msvs/*.db
/msvs/tests/Debug
/msvs/tests/GeneratedFiles
/msvs/composer/Debug
/msvs/composer/GeneratedFiles
/msvs/composer/*.user
