/tmp
/msvs/.vs
/msvs/*.opendb
/msvs/*.db
/msvs/Win32

/msvs/tests/*.user
/msvs/tests/GeneratedFiles
/msvs/tests/Debug
/msvs/tests/Release

/msvs/composer/*.user
/msvs/composer/GeneratedFiles
/msvs/composer/Debug
/msvs/composer/Release
/TODO.txt
